<div class="single category">
  <div class="mb-3">
    <label for="filterColorText" class="form-label">Marka Ara</label>
    <input
      type="text"
      [(ngModel)]="filterColorText"
      class="form-control"
      id="filterColorText"
      placeholder="Renk adı yaz"
    />
  </div>

  <h3 class="side-title">Tüm Renkler</h3>
  <li class="mb-3"
  (click)="cleanCurrentColor()"
    [class]="getAllColorClass()"
    routerLink="/cars"
  >
    Hepsisini Göster
  </li>
  <ul class="list-unstyled">
    <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.id }}"
    *ngFor="let color of colors | filterColorPipe: filterColorText"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
  </ul>
</div>
