
<ul class="menu">
    <li><a routerLink="/cars" href="#" >Anasayfa</a></li>
    <li><a routerLink="/brands" href="#">Markalar</a></li>
    <li><a  routerLink="/colors" href="#">Renkler</a></li>
    <li><a routerLink="/carlist" href="#">Araba Listesi</a></li>
    <li><a routerLink="/rentals" href="#">Kira</a></li>

    <li *ngIf="!isLogin()" class="text-end"><a routerLink="/login"  href="#">Giriş Yap</a></li>
    <li *ngIf="!isLogin()" class="text-end"><a routerLink="/register"  href="#">Kayıt Ol</a></li>
    <li *ngIf="isLogin()"  type="button">
      {{currentUser}}
     </li>

      <li *ngIf="isLogin()"><a  (click) = "logOut()">Log out</a></li>

    <!-- <li  ><a routerLink="/login" href="#">Giriş Yap</a></li>
    <li ><a routerLink="/register" href="#">Kayıt Ol</a></li> -->
    <li class="slider"></li>


    <div *ngIf="isLogin()">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
       <span>{{currentUser}}</span>
      </button>

    </div>


  </ul>
