<div id="marka1" class="single category">
  <div class="mb-3">
    <label for="filterBrandText" class="form-label">Marka Ara</label>
    <input
      type="text"
      [(ngModel)]="filterBrandText"
      class="form-control"
      id="filterBrandText"
      placeholder="Marka adı yaz"
    />
  </div>

  <h3 class="side-title">Tüm Markalar</h3>
  <li class="mb-3"
    (click)="cleanCurrentBrand()"
    [class]="getAllBrandClass()"
    routerLink="/cars"
  >
    Hepsisini Göster
  </li>
  <ul class="list-unstyled">
    <li
      (click)="setCurrentBrand(brand)"
      routerLink="/cars/brand/{{ brand.id }}"
      *ngFor="let brand of brands | filterBrandPipe: filterBrandText"
      [class]="getCurrentBrandClass(brand)"
    >
      <a href="" title="">{{ brand.brandName }}</a>
    </li>
  </ul>
</div>
