<!-- Modal 1-->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Easy Pay</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Would you like to save your credit card for your next shopping?
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="submit"
          (click)="checkOutAndSaveCard()"
          class="btn btn-secondary col-md-5"
          data-bs-dismiss="modal"
        >
          Yes, save my card and complete payment.
        </button>
        <button
          type="button"
          (click)="checkOut()"
          class="btn btn-primary col-md-5"
          data-bs-dismiss="modal"
        >
          No, dont save my card and just complete payment.
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-top border-bottom text-center">
    <a routerLink="/cars"> Alışverişe Geri Dön</a>
  </div>
  <div class="card-body">
    <div class="row upper">
      <span><i class="fa fa-check-circle-o"></i> Alışveriş Çantası</span>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="left border">
          <div class="row">
            <span class="header">Ödeme Ekranı</span>
            <div class="icons">
              <img src="https://img.icons8.com/color/48/000000/visa.png" />
              <img
                src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
              />
              <img src="https://img.icons8.com/color/48/000000/maestro.png" />
            </div>
          </div>
          <Form [formGroup]="creditCardAddForm">
            <div class="my-3">
              <div *ngFor="let cardType of cardTypes" class="form-check">
                <input
                  type="radio"
                  name="cardType"
                  value="{{ cardType }}"
                  (change)="radioChangeHandler($event)"
                  id="{{ cardType }}"
                  formControlName="cardType"
                  required
                />
                <label class="form-check-label" for="credit">{{
                  cardType
                }}</label>
              </div>
            </div>
            <label for="nameSurname" class="form-label">Adınız Soyadınız</label>
            <input
              type="text"
              class="form-control"
              id="nameSurname"
              formControlName="nameSurname"
              placeholder=""
              required
            />

            <div class="invalid-feedback">Name on card is required</div>

            <label for="cardNumber" class="form-label">Kart Numarası</label>
            <input
              type="text"
              class="form-control"
              id="cardNumber"
              formControlName="cardNumber"
              placeholder=""
              required
            />
            <div class="invalid-feedback">Credit card number is required</div>
            <div class="row">
              <div class="col-4">
                <label for="expMonth" class="form-label">Exp Month</label>
                <input
                  type="number"
                  class="form-control"
                  id="expMonth"
                  formControlName="expMonth"
                  placeholder=""
                  required
                />
                <div class="invalid-feedback">Expiration month required</div>
              </div>
              <div class="col-4">
                <label for="expYear" class="form-label">Exp Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="expYear"
                  formControlName="expYear"
                  placeholder=""
                  required
                />
                <div class="invalid-feedback">
                  Expiration year date required
                </div>
              </div>
              <div class="col-4">
                <label for="cvv" class="form-label">CVV</label>
                <input
                  type="number"
                  class="form-control"
                  id="cvv"
                  placeholder=""
                  formControlName="cvv"
                  required
                />
                <div class="invalid-feedback">Security code required</div>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-primary mb-3 me-3"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Ödemeyi Tamamla
            </button>
          </Form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="right border">
          <div class="header">Sipariş Özeti</div>
          <div class="row item">
            <div class="col-4 align-self-center">
              <img
                class="card-img-top"
                *ngIf="car"
                src="{{ carImageBasePath }}{{ getCarImage() }}"
                alt="Card image cap"
              />
            </div>
            <div class="col-8">
              <div class="row"><b></b></div>
              <div class="row text-muted">
                {{ car.brandName }} {{ car.carName }}
              </div>
              <div class="row">{{ car.dailyPrice | currency }}</div>
            </div>
          </div>

          <hr />

          <div class="row lower">
            <div class="col text-left">Günlük Kira</div>
            <div class="col text-right">{{ car.dailyPrice }}</div>
          </div>

          <div class="row lower">
            <div class="col text-left"><b>Toplam Kira </b></div>
            <div class="col text-right">
              <b>{{ totalPrice }}</b>
            </div>
          </div>
          <div class="row lower">
            <div class="col text-left">
              <p class="card-text me-2">{{ totalDay }} gün kiralanacak</p>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary mb-3 me-3"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Ödemeyi tamamla
          </button>
          <p class="text-muted text-center">
            Berkay Galeri & Tüm hakları saklıdır.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
<div class="row mb-3">
  <div *ngFor="let creditCard of creditCards" class="card1 me-2 mb-2">
    <div class="upper1">
      <h6>Kayıtlı kartınız</h6>
    </div>
    <div class="lower2">
      <button
        type="button"
        (click)="useRegisteredCard(creditCard)"
        class="btn btn-primary btn-sm mb-3 me-2"
      >
        Bu Kartı Kullan
      </button>
    </div>
    <div class="lower1">
      <h5>{{ creditCard.nameSurname }}</h5>
      <img src="https://cdn.hangikredi.com/images/creditcard/hsbc-advance-kredi-karti-400-240-.png" alt="">
      <span>{{ creditCard.cardNumber }}</span> <br />
      <span>Limit {{ creditCard.cardLimit }} TL</span>
    </div>
  </div>
</div>
