
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

  </div>
  <br />
  <div>
    <table>

      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Marka Adı</th>
          <th scope="col">Sil</th>
          <th scope="col">Güncelle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let color  of colors">
          <td>{{ color.id }}</td>
          <td>{{ color.colorName }}</td>
          <td class="float-right">
            <button class="btn btn-primary me-2"  (click)="deleteColor(color)">
              Sil
            </button>

          </td>
          <td>
            <button
            class="btn btn-warning me-2"
            routerLink="update/{{color.id}}"
          >
           Güncelle
          </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
   <button
      class="btn btn-dark me-md-2 mt-5"
      type="button"
      routerLink="/colors/add"
    >
     Yeni Renk Ekle
    </button>
