
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

  </div>
  <br />
  <div>
    <table>

      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Marka Adı</th>
          <th scope="col">Araba Adı</th>
          <th scope="col">Ad</th>
          <th scope="col">Soyad</th>
          <th scope="col">Şirket adı</th>
          <th scope="col">Kira başlangıç</th>
          <th scope="col">Kira Bitiş</th>
          <th scope="col">Sil</th>
          <th scope="col">Güncelle</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let rental of rentals">
          <td>{{rental.id}}</td>
          <td>{{rental.brandName}}</td>
          <td>{{rental.carName}}</td>
          <td>{{rental.firstName}}</td>
          <td>{{rental.lastName}}</td>
          <td>{{rental.companyName}}</td>
          <td>{{rental.rentDate}}</td>
          <td>{{rental.returnDate}}</td>
          <td class="col-md-3">
            <button class="btn btn-danger me-2 mb-2" (click)="delete(rental)">Delete</button>

          </td>
          <td>
            <button class="btn btn-primary me-2 mb-2" (click)="endRental(rental)">End</button>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
  
