
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

  </div>
  <br />
  <div>
    <table >

      <thead>
        <tr>
          <th class="col-sm-1" scope="col">Id</th>
          <th class="col-sm-1" scope="col">Brand Name</th>
          <th class="col-sm-1" scope="col">Car Name</th>
          <th class="col-sm-1" scope="col">Color Name></th>
          <th class="col-sm-1" scope="col">Daily Price</th>
          <th class="col-sm-1" scope="col">Model Year</th>
          <th class="col-sm-3" scope="col">Description</th>
          <th class="col-sm-3" scope="col">Sil</th>
          <th class="col-sm-3" scope="col">Güncelle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{ car.id }}</td>
              <td>{{ car.brandName }}</td>
              <td>{{ car.carName }}</td>
              <td>{{ car.colorName }}</td>
              <td>{{ car.dailyPrice | currency }}</td>
              <td>{{ car.modelYear }}</td>
              <td>{{ car.description }}</td>
              <td>
                <button class="btn btn-primary me-2" (click)="deleteCar(car)">Delete</button>

            </td>
            <td>

              <button class="btn btn-warning me-2" routerLink="car/{{car.id}}">Update</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  

