<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Araba Arayınız</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Araba Arayınız"
  />
</div>

<app-filter-car></app-filter-car>

<div class="row mt-5" *ngIf="dataLoaded == true">
  <div class="col-sm-4 mb-5"  *ngFor="let car of cars | filterPipe: filterText">
    <div
      class="card text-white card-has-bg click-col"
      routerLink="/cars/cardetail/{{ car.id }}"
      style="
        background-image: url('{{ carImageBasePath }}{{ getCarImage(car) }}');
      "
    >
      <img
        class="card-img d-none"
        src="{{ carImageBasePath }}{{ getCarImage(car) }}"
        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
      />
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body">

          <h4 class="card-title mt-0">
            <a class="text-white" herf="#"
              > {{ car.brandName | uppercase }} {{ car.carName }}</a
            >
          </h4>
          <small><i class="far fa-clock"></i> {{ car.modelYear }}</small>
        </div>
        <div class="card-footer">
          <div class="media">
            <img
              class="mr-3 rounded-circle"
              src="{{ carImageBasePath }}{{ getCarImage(car) }}"
              alt="Generic placeholder image"
              style="max-width: 50px"
            />
            <div class="media-body">
              <h6 class="my-0 text-white d-block">{{ car.colorName }}</h6>
              <small>{{ car.dailyPrice | currency }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <section style="float: right">
        <a (click) = "addToCart(car)" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Kirala</a>
      </section>
      <section style="float: left">
        <button
          type="button"
          routerLink="/cars/cardetail/{{ car.id }}"
          class="btn btn-primary btn-lg"
        >
          Detaylar
        </button>
      </section>
    </div>



  </div>


</div>
