<div class="mb-3">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-primary">
  {{ filterText }} aradınız
</div>
<app-filter-car></app-filter-car>

<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
  <div
    class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 bg-body rounded"
    *ngFor="let car of cardtos | filterPipe:filterText"
  >
    <div class="card border-0 mb-3" style="width: 18rem">
      <img
        [src]="apiUrl + car.imagePath[0]"
        class="card-img-top"
        alt="Image"
        width="200"
        height="200"
      />
      <div class="card-body text-center">
        <h4>
          <a
            routerLink="/cardetail/{{ car.carId }}"
            class="card-title text-decoration-none h5"
            style="color: #007bff"
            >{{ car.carName | uppercase }}
          </a>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Marka</span>
          <span class="float-end">{{ car.brandName }}</span>
        </li>

        <p class="card-text text-center h3 mt-3">{{ car.dailyPrice }}₺</p>
      </ul>
      <div class="card-body">
        <div class="d-flex action justify-content-between">
          <a  routerLink="/carrental/{{ car.carId }}" href="" class="btn btn-success">Kirala</a>
          <a routerLink="/cardetail/{{ car.carId }}" class="btn btn-primary"
            >Detaylar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
